<body>
    <div class="container">
        <h2>Iniciar sesión</h2>
        <form action="#" method="post">
            <input type="text" placeholder="Usuario" required>
            <input type="password" placeholder="Contraseña" required>
            <input type="text" placeholder="Nombre" required>
            <input type="text" placeholder="Primer Apellido" required>
            <input type="text" placeholder="Segundo Apellido" required>
            <input type="date" placeholder="Fecha de nacimiento" required>
            <button type="submit">Ingresar</button>
        </form>
    </div>
</body>