<div class="gallery-container">
    <br><br>
    <h1 class="gallery-header">Lo mejor y más nuevo</h1>

    <div class="gallery-navigation">
        <div class="gallery-grid">
            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike1.png" class="gallery-image" />
                </div>
                <h2 class="image-title">Nike United Pack</h2>
            </div>

            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike2.png" class="gallery-image" />
                </div>
                <h2 class="image-title">Colección Nike 24.7</h2>
            </div>

            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike3.png" class="gallery-image" />
                </div>
                <h2 class="image-title">Cosmic Runner</h2>
            </div>
        </div>
    </div>

    <br><br>
    <h1 class="gallery-header">Compra nuestros iconos</h1>

    <div class="gallery-navigation">
        <div class="gallery-grid">
            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike4.png" class="gallery-image" />
                </div>
                <h2 class="image-title">Air Max</h2>
            </div>

            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike5.png" class="gallery-image" />
                </div>
                <h2 class="image-title">Y2K</h2>
            </div>

            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike6.png" class="gallery-image" />
                </div>
                <h2 class="image-title">Air Force 1</h2>
            </div>
        </div>
    </div>

    <br><br>
    <h1 class="gallery-header">Novedades de la semana</h1>

    <div class="gallery-navigation">
        <div class="gallery-grid">
            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike7.png" class="gallery-image" />
                </div>
                <h2 class="image-title">Nike Pegasus Premium</h2>
            </div>

            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike8.png" class="gallery-image" />
                </div>
                <h2 class="image-title">Air Jordan 1 Low SE</h2>
            </div>

            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike9.png" class="gallery-image" />
                </div>
                <h2 class="image-title">Nike Air Max Dn8</h2>
            </div>
        </div>
    </div>

    <br><br>
    <h1 class="gallery-header">Descubre más</h1>

    <div class="gallery-navigation">
        <div class="gallery-grid">
            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike10.jpg" class="gallery-image" />
                </div>
                <h2 class="image-title">Mujer</h2>
            </div>

            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike11.jpg" class="gallery-image" />
                </div>
                <h2 class="image-title">Hombre</h2>
            </div>

            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike12.jpg" class="gallery-image" />
                </div>
                <h2 class="image-title">Niño/a</h2>
            </div>
        </div>
    </div>

    <br><br>
    <h1 class="gallery-header">Descubre más</h1>

    <div class="gallery-navigation">
        <div class="gallery-grid">
            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike13.png" class="gallery-image" />
                </div>
                <h2 class="image-title">Tu acceso exclusivo</h2>
            </div>

            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike14.jpg" class="gallery-image" />
                </div>
                <h2 class="image-title">Cómo te damos las gracias</h2>
            </div>

            <div class="gallery-item">
                <div class="image-container">
                    <img src="nike15.jpg" class="gallery-image" />
                </div>
                <h2 class="image-title">Muévete como quieras</h2>
            </div>
        </div>
    </div>
</div>