<form [formGroup]="form" class="form" (ngSubmit)="handleSubmit()">
  <h2>TITULO FORM</h2>
  <div class="form-group">
    <label for="name">Nombre</label>
    <input formControlName="name" type="text" id="name" placeholder="Nombre">
  </div>

  <div class="form-group">
    <label for="email">Correo</label>
    <input formControlName="email" type="email" id="email" placeholder="Correo">
  </div>

  <button class="btn-base form_button" type="submit">Enviar</button>
</form>

<pre>{{form.value | json}}</pre>



<!-- import { JsonPipe } from '@angular/common';
import { Component } from '@angular/core';
import { FormControl, FormGroup, ReactiveFormsModule } from '@angular/forms';

@Component({
  selector: 'app-form',
  standalone: true, 
  imports: [ReactiveFormsModule, JsonPipe],
  templateUrl: './form.component.html',
  styleUrls: ['./form.component.css']
})
export class FormComponent {
  form = new FormGroup({
    name: new FormControl(''),
    email: new FormControl('')
  });

  handleSubmit() {
    console.log(this.form.value);
  }
} -->